body {
    background-image: url(https://images.unsplash.com/photo-1602612130126-a275d0d11786?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2918&q=80);
    background-size: cover;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: darken;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

.containber {
    max-width: 80%;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
}

#increment-btn {
    background: rgb(189, 156, 121);
}

#save-btn {
    background: rgb(56, 120, 53);
}